<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup Pool</title>
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
</head>
<body>
    <style>
        html {
            display: flex;
        }
        body {         
            height: 100vh;
            width: 100%;
            display: flex;

            flex-direction: column; 
            font-family: 'Kalam';font-size: 22px;
            background-image: url("../public/images/soccer.jpg");
            background-size: cover;
            background-position: center;
            color: white;
        }
        
        
        h1 {
          position: relative; 
          font-size: 3rem;
            
        }
        #results {
            position: relative;
            display: flex;
            flex-flow: column wrap;
            height: 500px;
        }
        p {
            padding: 5px;
        }
        #top5 {
            margin-left: 10px;
            border: 2px dotted blue;
            color: blue;
            width: 120px;
            font-weight: bold;
        }

        #results h4 {
            margin-left: 20px;
            text-decoration: underline;
            font-size: 30px;
            margin-bottom: 0px;
        }
        #firstplace img {
            height: 20px;
            position: relative;
            left: 7px;
        }

        img {
            height: 20px;
            position: relative;

        }
    </style>

    <h1>World Cup Pool </h1>
    <div id="results">
        <h4>Top 5</h4>
        <div id="top5">
            <div id="firstplace">
                <img src="../public/images/crown.png">
                <%= Results[0].sheet+' '+Results[0].points %>
            </div>
            <% for (let index = 1; index < 5; index++) { %>
                <p><%= Results[index].sheet+' '+Results[index].points %></p>
            <% } %> 
        </div>  
        <% for (let i = 5; i < Results.length-1; i++) { %>
            <p><%= Results[i].sheet+' '+Results[i].points %></p>
        <% } %> 
        <p><img src="../public/images/skull.png"><%= Results[Results.length-1].sheet+' '+Results[Results.length-1].points %></p>
    </div>
</body>
</html>

